:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
}

.no-transparency {
  background-color: rgba(47, 48, 58, 0.4);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", "Arial", sans-serif;
  padding-top: 83px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

h1 {
  margin-top: 0px;
}

h2 {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

h3 {
  color: var(--title-text-color);
  font-weight: 700;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.li-width {
  width: 270px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .section {
    width: 100%;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 1199.8px) {
  .min-section {
    width: 100%;
    display: none;
  }
}

.button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  padding-left: 22px;
  padding-right: 22px;
  min-height: 38px;
  border: 0px;
  border-radius: 4px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.83;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.button:active {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.83;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.btn-title {
  margin-left: 32px;
  margin-right: 32px;
}

.btn-submit {
  border: none;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding-left: 28px;
  cursor: pointer;
}
@media screen and (max-width: 1199px) {
  .btn-submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.button-close {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 490px;
  margin-top: 8px;
}
.button-close:hover {
  fill: #2196f3;
  cursor: pointer;
}
.button-close:focus {
  fill: #2196f3;
  cursor: pointer;
}

.btn-section {
  margin-bottom: 50px;
  padding-bottom: 0px;
}

.btn-size {
  margin-left: 22px;
  margin-right: 22px;
}

.btn {
  text-align: center;
}

.hover-btn:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hover-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media screen and (max-width: 767.8px) {
  .hero-title {
    width: 360px;
    height: 84px;
    left: 60px;
    top: 178px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    /* or 162% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 1199.8px) {
  .hero-title {
    width: 360px;
    height: 84px;
    left: 204px;
    top: 198px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    /* or 162% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

.hero {
  background-color: #2f303a;
}

.hero button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
}

.hero .button {
  font-weight: 700;
}

.hero-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  min-width: 216px;
  min-height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero {
  display: block;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  padding: 118px 0;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/mb_header_1x.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/mb_header_2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/tb_header_1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/tb_header_2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobackground.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/ds_Header_2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding: 200px 0;
    background-image: url("../images/herobackground.jpg");
    max-width: 1600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
  }
}

.header {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 767.8px) {
  .header {
    width: 100%;
    justify-content: space-between;
  }
}

.studio-header {
  color: #000000;
}

.name-header {
  margin-bottom: 10px;
}

.head-border {
  border-bottom: 1px solid #ececec;
}

.mail-icon {
  width: 16px;
  height: 12px;
  fill: #757575;
  margin-right: 10px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-icon {
  width: 10px;
  height: 16px;
  fill: #757575;
  margin-right: 10px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.head-border {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.site-logo {
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  display: block;
  margin-left: 15px;
}

.logo-footer {
  margin-bottom: 20px;
}

.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  margin-left: 93px;
}
@media screen and (min-width: 480px) {
  .nav {
    margin-left: 0px;
  }
}
.nav li {
  margin-right: 50px;
}
.nav li:last-child {
  margin-right: 0;
}
.nav .link {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav .link {
    color: var(--title-text-color);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.nav .link:hover {
  color: var(--accent-color);
}
.nav .link:focus {
  color: var(--accent-color);
}
.nav .link.current {
  color: #2196f3;
}
.nav .link.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  position: absolute;
  bottom: 0;
  left: 0;
}

.auth-nav {
  display: flex;
}
@media screen and (max-width: 767.8px) {
  .auth-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .auth-nav {
    display: inline;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    display: flex;
    margin-left: 93px;
  }
}

.auth-nav .item + .item {
  margin-left: 50px;
}

@media screen and (max-width: 1199.8px) {
  .nav.list {
    margin-left: 75px;
  }
}
@media screen and (min-width: 1200px) {
  .nav.list {
    margin-left: 93px;
  }
}

.contact-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contact:hover {
  color: var(--accent-color);
}

.contact:focus {
  color: var(--accent-color);
}

.address {
  color: var(--primary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contact {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact:hover {
  color: var(--accent-color);
}
.contact:focus {
  color: var(--accent-color);
}
.contact:hover .tel-icon {
  fill: #2196f3;
}
.contact:hover .mail-icon {
  fill: #2196f3;
}
.contact:focus .tel-icon {
  fill: #2196f3;
}
.contact:focus .mail-icon {
  fill: #2196f3;
}

.addres-fotter {
  margin-bottom: 9px;
}

.contact-footer {
  display: flex;
  flex-wrap: wrap;
}

.mail {
  margin-bottom: 9px;
}

.top-contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .top-contact {
    width: 100%;
    display: flex;
    align-items: center;
  }
}

.about h3 {
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.about-header {
  margin-bottom: 10px;
  margin-top: 30px;
}

.about p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.about {
  padding-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .about {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.about-list {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 1199.8px) {
  .about-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}
@media screen and (max-width: 767.8px) {
  .about-list {
    width: 100%;
    justify-content: center;
    text-align: center;
  }
}

.team {
  background-color: #f5f4fa;
  display: block;
  margin: auto;
}

.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team p {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  display: block;
  margin: auto;
}

.team-list {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 767.8px) {
  .team-list {
    width: 100%;
    display: inline;
  }
}
@media screen and (max-width: 1199.8px) {
  .team-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

.work-header {
  margin-top: 0px;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  gap: 30px;
}

.studio-work {
  border-top: none;
  border: 1px solid #eeeeee;
  width: 370px;
}

.work-div {
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .work-div {
    width: 100%;
    height: 120px;
    background-color: #f5f4fa;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
  }
}
@media screen and (min-width: 768px) {
  .work-div {
    width: 100%;
    height: 120px;
    background-color: #f5f4fa;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .work-div {
    width: 1200px;
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
  }
}

.portfolio p {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.portfolio-section {
  padding-top: 94px;
}

.portfolio-text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}

.portfolio-title {
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list .portfolio-title {
  text-align: left;
}

.port-name {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.port-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.port-btn li:not(:last-child) {
  margin-right: 8px;
}

.port-flex {
  margin-right: 30px;
}

.port-flex:nth-child(3n) {
  margin-right: 0;
}

.port-flex {
  border-top: none;
  border: 1px solid #eeeeee;
  width: 370px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.port-flex:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.port-flex:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.port-flex:nth-child(-n+6) {
  margin-bottom: 30px;
}

.list .port-btn {
  margin-bottom: 50px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}
@media screen and (max-width: 1199.8px) {
  .social-list {
    margin-top: 0px;
  }
}

.social-link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color, fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus {
  background-color: #2196f3;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.social-link:hover .social-icon {
  fill: #ffffff;
}

.social-link:focus .social-icon {
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  z-index: 100;
  visibility: hidden;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 300ms ease-in-out;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -70%);
}

.modal-btn {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  display: block;
  margin: 0 auto;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 40px;
}

.modal-span {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-span {
  margin-bottom: 4px;
  margin-left: 41px;
  margin-top: 10px;
}

.modal-svg {
  position: absolute;
  bottom: 14px;
  left: 56px;
}

.modal-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: underline;
}

.modal-title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 2px;
}

.form-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form-input-text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: 8px;
}

.form-checkbox-icon .unchecked {
  opacity: 1;
  transition: 250ms;
}

.form-checkbox:checked + .form-checkbox-icon .unchecked {
  opacity: 0;
}

.form-checkbox-icon .checked {
  opacity: 0;
  transition: 250ms;
}

.form-checkbox:checked + .form-checkbox-icon .checked {
  opacity: 1;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
}

.form-field {
  width: 448px;
  position: relative;
}

.form-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-left: 41px;
  outline: none;
}
.form-input:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  border-color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-area {
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-left: 41px;
  height: 120px;
  margin-bottom: 20px;
  resize: none;
  outline: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.form-field-area::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field-area:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field-area::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field-area:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.form-input {
  padding-left: 42px;
}

input {
  outline: none;
}

.form-input:focus + .modal-svg {
  fill: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.form-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 1199.8px) {
  .form-header {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .form {
    display: flex;
    align-items: flex-end;
  }
}

.client-icon {
  width: 106px;
  height: 60px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-header {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.client-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
@media screen and (max-width: 767.8px) {
  .client-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1199.8px) {
  .client-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover, .client-link:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.client-icon {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
}

.studio-footer {
  color: var(--primary-white-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.footer .footer-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer .footer-divs {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1199.8px) {
  .footer .footer-divs {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 767.8px) {
  .footer .footer-divs {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
}

.div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .div1 {
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .div1 {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 70px;
    text-align: center;
  }
}

.div2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .div2 {
    margin-left: 165px;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .div2 {
    margin-left: 0px;
  }
}

.foot-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.foot-icon {
  fill: #ffffff;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
  padding: 48px 40px;
  background-color: #FFFFFF;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  display: flex;
}
@media screen and (min-width: 768px) {
  .menu-container {
    width: 768px;
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu__flex-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu__link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196F3;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__media-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.mobile-menu__media-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu_media-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu__tel-item {
  margin-bottom: 32px;
  margin-top: auto;
}

.mobile-menu__tel-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu__mail-item {
  margin-bottom: 64px;
}

.mobile-menu__mail-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  transition: fill #212121;
}
.menu-toggle:hover, .menu-toggle:focus {
  fill: #2196F3;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    width: 100%;
    display: none;
  }
}

.mobile-menu__link {
  color: #212121;
}

.link {
  position: relative;
}

.image {
  position: relative;
  height: 294px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.image-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  height: 70px;
}

.text-image {
  padding-top: 27px;
}

.animation {
  position: relative;
  overflow: hidden;
  height: 294px;
}

.studio-text {
  display: none;
  position: absolute;
  top: 294px;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  display: block;
  background: rgba(33, 150, 243, 0.9);
  height: 294px;
  width: 370px;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.img-hover:hover .studio-text {
  display: block;
  background: rgba(33, 150, 243, 0.9);
  height: 294px;
  width: 370px;
  transform: translateY(-294px);
}

.icon-close {
  color: #000000;
}

.input-footer {
  width: 358px;
  height: 50px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  margin-top: 20px;
  padding-left: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 50px;
  padding-left: 16px;
}
@media screen and (min-width: 480px) {
  .input-footer {
    width: 450px;
  }
}
@media screen and (max-width: 1199px) {
  .input-footer {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .input-footer {
    width: 358px;
    height: 50px;
    background-color: #2f303a;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    margin-top: 20px;
    padding-left: 16px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 100%;
    height: 50px;
    padding-left: 16px;
    width: 358px;
  }
}

.subscribe {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: 93px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
}

.telegram {
  margin-left: 10px;
  color: #ffffff;
  width: 24px;
  height: 24px;
}

.item {
  display: inline;
}/*# sourceMappingURL=main.css.map */