.about h3 {
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .about-header {
    margin-bottom: 10px;
    margin-top: 30px;
  }
  .about p {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  .about {
    padding-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width:768px) { 
      display: block;
      margin-left: auto;
      margin-right: auto;
      
    }
  }
  .about-list {
    display: flex;
    gap: 30px;

    @media screen and (max-width:1199.8px) { 
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;

    }

    @media screen and (max-width:767.8px) { 
      width: 100%;
    
      justify-content: center;
      text-align: center;
      
    }
    
  }
  