.client-icon {
    width: 106px;
    height: 60px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .client-header {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  .client-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .client-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: #afb1b8;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
  &:focus {
    border-color: #2196f3;
    color: #2196f3;
  }
  }
  .client-icon {
    fill: currentColor;
  }
  