.link {
    position: relative;
  }
  
  
  .image {
    position: relative;
    height: 294px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: #ffffff;
    height: 70px;
  }
  .text-image {
    padding-top: 27px;
  }
  .animation {
    position: relative;
    overflow: hidden;
    height: 294px;
  }
  .studio-text {
    display: none;
    position: absolute;
    top: +294px;
    left: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
  
    color: #ffffff;
    padding-top: 63px;
    padding-left: 24px;
    padding-right: 24px;
  
    display: block;
    background: rgba(33, 150, 243, 0.9);
    height: 294px;
    width: 370px;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .img-hover:hover .studio-text {
    display: block;
    background: rgba(33, 150, 243, 0.9);
    height: 294px;
    width: 370px;
    transform: translateY(-294px);
  }
  
  .icon-close {
    color: #000000;
  }
  
  .input-footer {
    width: 358px;
    height: 50px;
    background-color: #2f303a;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    margin-top: 20px;
    padding-left: 16px;
  }
  
  
  .subscribe {
    margin-left: 93px;
  }
  
  .telegram {
    margin-left: 10px;
    color: #ffffff;
    width: 24px;
    height: 24px;
  }
  