.footer {
  background-color: #2f303a;
}
.studio-footer {
  color: var(--primary-white-color);
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  margin-left: auto;
  margin-right: auto;

  

.footer-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  margin-bottom: 20px;
}
.footer-divs {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width:1199.8px) { 
    width: $tablet;
    display: flex;
    flex-wrap: wrap;

    
  }
  
  @media screen and (max-width:767.8px) { 
    width: 100%;
    display: flex;
flex-direction: column;
flex-wrap: wrap;
margin-left: auto;
margin-right: auto;
justify-content: center;
    
  }
  
}
}

.div1 {display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width:768px) {margin: 0px;}

  
  @media screen and (min-width:$desktop) { 
    width: $desktop;
    display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 70px;
  text-align: center;
  
}
  }
  
.div2 {display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  @media screen and (min-width:768px) {margin: 0px;}
  
    
  

}
.foot-link {
  background-color: rgba(255, 255, 255, 0.1);
}
.foot-icon {
  fill: #ffffff;
}

