.hero-title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    @media screen and (max-width: 767.8px){
      max-width: 360px;
      height: 84px;
      left: 60px;
      top: 178px;
      
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 900;
      font-size: 26px;
      line-height: 42px;
      /* or 162% */
      
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;


    }
    @media screen and (max-width: 1199.8px) {
      max-width: 360px;
height: 84px;
left: 204px;
top: 198px;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 26px;
line-height: 42px;
/* or 162% */

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
    }
  }
  .hero {
    background-color: #2f303a;
  }
  .hero button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
  }
  .hero .button {
    font-weight: 700;
  }
  .hero-btn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    min-width: 216px;
    min-height: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  
  .hero {
    display: block;
    justify-content: center;
   margin: 0 auto;
    text-align: center;
    padding: 118px 0;
width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    

        background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/header/mb_header_1x.jpg);

    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
            url(../images/header/mb_header_2x.jpg);
        }

                // tablet screen

                @media screen and (min-width: 768px) {
                    background-image: linear-gradient(to right,
                            rgba(47, 48, 58, 0.4),
                            rgba(47, 48, 58, 0.4)),
                    url(../images/header/tb_header_1x.jpg);
        
                    @media (min-device-pixel-ratio: 2),
                    (min-resolution: 192dpi),
                    (min-resolution: 2dppx) {
                        background-image: linear-gradient(to right,
                                rgba(47, 48, 58, 0.4),
                                rgba(47, 48, 58, 0.4)),
                        url(../images/header/tb_header_2x.jpg);
                    }
                }
        
                // desktop screen

                @media screen and (min-width: 1200px) {
                    background-image: linear-gradient(to right,
                            rgba(47, 48, 58, 0.4),
                            rgba(47, 48, 58, 0.4)),
                    url(../images/herobackground.jpg);
        
                    @media (min-device-pixel-ratio: 2),
                    (min-resolution: 192dpi),
                    (min-resolution: 2dppx) {
                        background-image: linear-gradient(to right,
                                rgba(47, 48, 58, 0.4),
                                rgba(47, 48, 58, 0.4)),
                        url(../images/header/ds_Header_2x.jpg);
                    }
                }




    @media screen and (min-width: 1200px) {
       height: 600px; 
       padding: 200px 0;
       background-image: linear-gradient(to right,
       rgba(47, 48, 58, 0.4),
       rgba(47, 48, 58, 0.4)),
      url("../images/herobackground.jpg");


      
    max-width: 1600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    }
    
    


    
 }