.site-logo {
    color: var(--accent-color);
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    display: block;
    margin-right: 93px;
  }
  .logo-footer {
    margin-bottom: 20px;
  }