.nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
   
    & li {
        margin-right: 50px;
        
      }
      & li:last-child {
        margin-right: 0;
      }
      & .link {
        
        display: none;
        

        @media screen and (min-width:$tablet) { 
          
          color: var(--title-text-color);
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        position: relative;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

      }
      & .link:hover {
        color: var(--accent-color);
      }
      & .link:focus {
        color: var(--accent-color);
      }
      & .link.current {
        color: #2196f3;
      }
      & .link.current::after {
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #2196f3;
        position: absolute;
        bottom: 0;
        left: 0;
      }
      
      
      
  
    }
  
  .auth-nav {
    display: none;

    @media screen and (max-width: 1199px) {
      width: 100%;
      margin-top: 2px;
  margin-left: auto;
    }
  
  
    @media screen and (min-width: $tablet) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: auto;
  
    }
  
    @media screen and (min-width: $desktop) {
      flex-direction: row;
    }
  }

  .auth-nav .item + .item {
    margin-left: 50px;
    @media screen and (max-width: 1199px) {
      width: 100%;
      margin-left: auto;
    }
  }
  .nav .list {margin-left: 93px;
  
   
}
 