.section {
    padding-top: 60px;
    padding-bottom: 06px;
    display: block;
    margin: 0 auto;

    @media screen and (min-width:1200px) { 
      width: 100%;
      padding-top: 94px;
    padding-bottom: 94px;
      
    }
  }

  .min-section {

    @media screen and (max-width: 1199.8px) 
    {width: 100%;
      display: none;}
      
    
  }