body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: "Roboto", "Arial", sans-serif;
    padding-top: 83px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0px;
  }
  a {
    text-decoration: none;
  }
  .list {
    list-style: none;
  }
  h1 {
    margin-top: 0px;
  }
  h2 {
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }
  h3 {
    color: var(--title-text-color);
    font-weight: 700;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .li-width {
    width: 270px;
  }